html, body {
    height: 100%;
    margin: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: -2;
    opacity: 0.4;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: -1;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), rgba(254, 254, 254, 1));
}

header {
    margin-top: 2vh;
    width: 100vw;
    display: flex;
    position: fixed;
}

.menu {
    width: 50%;
    gap: 2vw;
    display: flex;
    margin-left: 50vw;
    margin: 0%;
}

.logo{
    margin-top: -2vh;
    margin-right: auto;
}

.logo-img {
    width: 8vw;
}

.menu-button {
    white-space: nowrap;
    font-size: 1.2vw;
    cursor: pointer;
}

.menu-button:hover {
    font-weight: bolder;
}

.contact-number {
    white-space: nowrap;
    font-size: 1.2vw;
}

.number-border {
    outline: 1px solid grey;
    border-radius: 8%;
    outline-offset: 2px;
}