html, body {
    font-size: 10pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

input {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 4vw;
}

.page:first-of-type {
    padding: 0;
    align-items: flex-end;
    justify-content: space-evenly;
}

/* Шапка */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100vw;
    display: flex;
    
    background: linear-gradient(to bottom, rgb(240, 240, 240) 20%, transparent 75%);
}

.menu {
    display: flex;
    gap: 4vw;
    align-items: center;
    padding-right: 2vw;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 80px;
}

.menu-button {
    position: relative;
    z-index: 5;
    white-space: nowrap;
}

.menu-button a:hover {
    color: darkgreen;
}

.contact-number {
    white-space: nowrap;

}

.number-border {
    outline: 1px solid orange;
    border-radius: 8%;
    outline-offset: 2px;
}

/* Страницы */

    /* Страница 1 */

    /* Задний фон */
.background {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    margin: 0;
    z-index: -1;
    
    background: white;
    transition: background 1s;
}

.show .background-blur {
    background: radial-gradient(circle, 
    rgba(255, 255, 255, 0.5), 
    rgb(255, 255, 255));
}

    /* Заголовок с названием */
.heading {
    display: flex;
    flex-direction: column;
    align-items: end;
    cursor: default;
    padding-right: 12vw;

    opacity: 0;
    transition: opacity 1s;
}

.show .heading {
    opacity: 1;
    transition: opacity 2s 1.5s;
}

.heading span {
    font-family: Arial Narrow, sans-serif;
    color: darkgreen;
    font-size: 10vw;
    position: relative;
}

.heading span:first-letter {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 23vw;
}

.heading span::before {
    content: 'ОТЕЛЬ-ЗАПОВЕДНИК';
    font-size: 1.2vw;
    color: black;
    position: absolute;
    bottom: 21vw;
    left: 2.6vw;
}

.heading span::after {
    content: 'ПРЕМИАЛЬНЫЙ ОТДЫХ В ПОДМОСКОВЬЕ';
    font-size: 1.65vw;
    color: black;
    position: absolute;
    bottom: 2vw;
    right: 0;
}


    /* Абзац с подробностями */
.details {
    padding-right: calc(50% - 368px);
    display: flex;
    align-items: center;
}

.details > img {
    height: 140px;

    opacity: 0;
    transition: opacity 1s;
}

.show .details img {
    opacity: 1;
    transition: opacity 0.5s 2s;
}

.details div {
    opacity: 0;
    transition: opacity 1s;
}

.show .details div {
    opacity: 1;
    transition: opacity 1s 2.25s;
}

.price {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65px;
    font-size: 10pt;
    color: #A66A00;
}

.price span:first-child{
    font-size: 9pt;
    position: absolute;
    top: 0;
    left: 0;
}

.price span:nth-child(2){
    font-size: 14pt;
    padding-top: 15%;
    padding-bottom: 15%;
}

.price span:nth-child(2):after {
    content: ' \20BD';
}

.price span:last-child {
    font-size: 9pt;
    position: absolute;
    bottom: 0;
    right: 0;
}

.facilities {
    font-size: 10pt;
    margin-top: 1vw;
    white-space: nowrap;
}


    /* Панель бронирования */

.booking {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 65vw;
    height: 8vh;
    background-color: #A66A00;
    outline: 1px solid #A66A00;
    outline-offset: 2px;

    opacity: 0;
    transition: opacity 1s;
}

.show .booking {
    opacity: 1;
    transition: opacity 2s 1s;
}

.booking > img {
    position: absolute;
    width: 10vh;
    bottom: 8.1vh;
    left: 30vw;
}

.booking img:nth-child(2) {
    rotate: 180deg;
    bottom: -2.9vh;
}

.inner-booking {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2vw;
}

.inner-booking span:nth-child(1) {
    cursor: default;
    margin-left: 2vh;
    font-weight: bolder;
    font-size: 1.1vh;
    white-space: nowrap;
}

.form-button {
    display: flex;
    padding-right: 0.8vh;
    padding-left: 0.8vh;
    height: 4vh;
    border-radius: 5%;
    background-color: white;
    font-weight: bolder;
    cursor:default;
}

.form-button img {
    align-self:center;
    height: 1.5vh;
}

.form-button div {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-button div span:nth-child(1) {
    margin-left: 1vw;
    color: grey;
    font-size: 1.4vh;
}

.form-button div input {
    margin-left: 1vw;
    height: 1.2vh;
    width: 10vw;
}

#guests {
    width: 30px;
}

.inner-booking div:nth-child(5){
    display: flex;
    align-items: center;
    background-color: rgb(255, 217, 0);
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s;
}

.inner-booking div:nth-child(5) span{
    font-size: 1.2vh;
    cursor: pointer;
    margin-left: 0;
}

.inner-booking div:nth-child(5):hover{
    background-color: green;
    border-radius: 10%;
}

    /* Олень */
.deer {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 45vw;

    background-image: url("../img/winter.gif");
    background-size: cover;

    -webkit-mask-image: url("../img/deer-head.png");
    mask-image: url("../img/deer-head.png");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: top;

    mask-size: contain;

    opacity: 0;
    transition: opacity 1s;
}

.show .deer {
    opacity: 1;
    transition: opacity 1s 1s;
}


    /* Страница 2 */
    /* Заголовок страницы */
.rooms-heading {
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 15pt;

    opacity: 0;
    transition: opacity 1s;
}

.show .rooms-heading {
    opacity: 1;
    transition: opacity 0.75s 0.5s;
}

.rooms-heading img{
    position: absolute;
    top: -60px;
    width: 100px;
    transform: rotate(-90deg);
}

    /* Комнаты */
.rooms-container {
    display: flex;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-img {
    min-width: 295px;
    width: 100%;
    
    opacity: 0;
    transition: opacity 1s;
}

.show .room:nth-child(1) .room-img {
    opacity: 1;
    transition: opacity 2s 1s;
}

.show .room:nth-child(2) .room-img {
    opacity: 1;
    transition: opacity 2s 1.25s;
}

.show .room:nth-child(3) .room-img {
    opacity: 1;
    transition: opacity 2s 1.5s;
}

.room > div {
    width: 295px;
    height: 211px;
    position: relative;
    transform: translateY(-25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 220, 220);

    opacity: 0;
    transition: opacity 1s;
}

.show .room:nth-child(1)>div {
    opacity: 1;
    transition: opacity 1s 2s;
}

.show .room:nth-child(2)>div {
    opacity: 1;
    transition: opacity 1s 2.25s;
}

.show .room:nth-child(3)>div {
    opacity: 1;
    transition: opacity 1s 2.5s;
}

.room > div > img {
    width: 50px;
    position: absolute;
    left: 0;
    top: -40px;
    transform: rotate(50deg);
}

.room-facilities {
    height: 211px;
    display: flex;
}

.room-name {
    width: 78px;
    padding: 5% 1%;
}

.room-description {
    padding: 1%;
}

.room-offer {
    width: calc(100% - 2px);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-left: 2px solid green;
}

.room-price {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.room-price span {
    font-weight: bolder;
}

.room-price span:nth-child(1) {
    transform: translateY(14px);
}

.room-price span:nth-child(2) {
    font-size: 20pt;
}

.room-price span:nth-child(2)::after {
    content: ' \20bd';
}

.room-price span:nth-child(3) {
    text-align: end;
    transform: translateY(-14px);
}

.room-button {
    padding: 3%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color:rgb(255, 217, 0);
    transition: background-color 0.5s;
}

.room-button:hover {
    background-color: green;
}



    /* Слайдер */
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    margin-top: 10vw;
    width: 80vw;
    height: 30vw;
}

.slider::before {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    margin-right: 77vw;
    margin-top: 0.5vw;
    content: "\27A4";
    rotate: 180deg;
    font-size: 2.5vw;
}

.slider::after {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    margin-left: 77vw;
    content: "\27A4";
    font-size: 2.5vw;
}

.slider > div {
    display: flex;
}

.slide-is-active {
    position: relative;
    width: 60vw;
    margin-right: -5vw;
    margin-left: -5vw;
}

.slide-isnot-active {
    width: 30vw;
    background-color: rgb(255, 248, 220);
    outline: 0.2vw rgb(116, 107, 14) solid;
    outline-offset: 0.8vw;
    border-radius: 5%;
}

.slide-is-active img {
    width: 30vw;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.slide-isnot-active img {
    width: 15vw;
    outline: 0.3vw rgb(224, 208, 29) solid;
    outline-offset: 0.3vw;
    border-radius: 5%;
    opacity: 0.5;
}

.slide-isnot-active div {
    display: none;
}

.slider-label {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    width: 50vw;
    border-right: 0.3vw darkgreen solid;
    border-top: 0.3vw darkgreen solid;
    border-bottom: 0.3vw darkgreen solid;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.slide-is-active span {
    display: none;
}

.slide-isnot-active span {
    position: absolute;
    align-self: center;
    font-size: 1.1vw;
    width: 5vw;
    font-weight: bolder;
}

.slider-left-label {
    margin-left: 3vw;
}

.slider-right-label {
    margin-left: 6vw;
}

.slider-name {
    font-size: 1.8vw;
    margin-top: 2vw;
    margin-left: 3vw;
}

.slider-room-description {
    margin-top: 2vw;
    margin-left: 3vw;
    margin-right: 0.5vw;
    font-size: 1.3vw;
}

.slider-facilities {
    margin-top: 1vw;
    margin-right: 0.5vw;
    font-size: 1.3vw;
}

.slider-description-footer {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    align-self: center;
}

.slider-price {
    display: flex;
    margin-bottom: 4vw;
    gap: 1.2vw;
    font-size: 1.8vw;
}

.slider-price div:nth-child(2) {
    font-size: 2.5vw;
}

.check-room {
    z-index: 1;
    position: absolute;
    align-self: center;
    cursor: pointer;
    margin-top: 5.9vw;
    font-size: 2vw;
    background-color: rgb(255, 217, 0);
    outline: 0.2vw rgb(116, 107, 14) solid;
    outline-offset: 0.2vw;
    border-radius: 10%;
    transition: 0.3s ease-in-out;
}

.check-room:hover {
    background-color: darkgreen;
}

.arrowLeft {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    margin-right: 77vw;
    width: 3vw;
    height: 3vw;
}

.arrowRight {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    margin-left: 77vw;
    width: 3vw;
    height: 3vw;
}


/* 3 страница */

.reserve {
    display: flex;
    align-content: center;
    padding-top: 20vw;
    width: 100vw;
    height: fit-content;
}

.reserve-img {
    width: 40vw;
    margin-top: 1.5vw;
    height:min-content;
}

.reserve-description {
    display: flex;
    flex-direction: column;
    height: fit-content;
    transform: translateX(-15vw);
    width: 40vw;
}

.reserve-description img {
    width: 18vw;
    margin-left: 20vw;
}

.reserve-description img:nth-child(1) {
    rotate: 180deg;
    transform: translateX(2vw);
}

.reserve-description img:nth-child(3) {
    margin-top: 1.6vw;
    transform: translateX(-2vw);
}

.reserve-description > div {
    margin-top: 0.3vw;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0.2vw rgb(224, 208, 29) solid;
    outline: 0.2vw rgb(116, 107, 14) solid;
    outline-offset: 0.4vw;
    border-radius: 5%;
}

.welcome {
    font-size: 1.6vw;
    font-weight: bolder;
}

.reserve-text {
    font-size: 1.5vw;
    padding-bottom: 1vw;
}

.check-reserve {
    z-index: 2;
    white-space: nowrap;
    display: flex;
    font-size: 1.6vw;
    font-weight: bolder;
    align-self: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(4.2vw);
    margin-left: 16.5vw;
    height: 3vw;
    background-color: rgb(255, 217, 0);
    outline: 0.2vw rgb(116, 107, 14) solid;
    outline-offset: 0.15vw;
    border-radius: 5%;
    transition: 0.3s ease-in-out;
}

.check-reserve:hover {
    background-color: darkgreen;
}

.reserve-deer {
    padding-top: 2vw;
    z-index: 1;
    width: 35vw;
    height: min-content;
    transform: translateX(-21vw);
}


/* Страница 4 */

.video-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
    width: 100vw;
}

.video-slider-heading {
    display: flex;
    flex-direction: column;
}

.video-slider-heading div {
    font-size: 2vw;
}

.video-slider-heading img {
    transform:translate(13vw, 1vw);
    width: 15vw;
    rotate: 270deg;
}

.video-slider-itself {
    transform:translateY(-22vw);
    display: flex;
    background-color: black;
}

.video-slider-itself video{
    width: 70vw;
    transition: 0.2s ease-in-out;
}

.video-slider-itself video:nth-child(2) {
    display: none;
}

.video-slider-itself video:nth-child(3) {
    display: none;
}

.video-slider-videos {
    display: flex;
    gap: 1.5vw;
    transform:translateY(-18vw);
}

.video-slider-video-below {
    width: 14vw;
    height: min-content;
}

.video-slider-video-below-pattern1 {
    transform: translateX(-5.5vw);
    width: 6vw;
}

.video-slider-video-below-pattern2 {
    width: 6vw;
    transform: scaleX(-1) translateX(-5.5vw);
}

.video-slider::before {
    position: absolute;
    rotate: 180deg;
    content: "\27A4";
    font-size: 4vw;
    margin-right: 53vw;
    margin-bottom: 13.5vw;
}

.video-slider::after {
    position: absolute;
    content: "\27A4";
    font-size: 4vw;
    margin-left: 53vw;
    margin-bottom: 13.5vw;
}

.video-slider-left-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 6vw;
    height: 4vw;
    margin-right: 53vw;
    margin-bottom: 13vw;
}

.video-slider-right-arrow {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 6vw;
    height: 4vw;
    margin-left: 53vw;
    margin-bottom: 13vw;
}

.video-slider-pattern {
    rotate: 270deg;
    width: 25vw;
    transform: translate(37vw);
}


/* Страница 5 */

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50vw);
    width: 100vw;
}

.calendar-heading {
    display: flex;
    flex-direction: column;
}

.calendar-heading div {
    font-size: 2vw;
}

.calendar-heading img {
    transform:translate(13vw, 4vw);
    width: 15vw;
    rotate: 270deg;
}

.events {
    transform: translateY(-23vw);
    display: flex;
    gap: 2vw;
}

.event {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.event-img {
    width: 16vw;
}

.event-description {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 16vw;
    height: 12vw;
    background-color: rgba(220, 220, 220, 0.538);
}

.event-description div {
    margin-left: 1.5vw;
    margin-right: 1vw;
}

.event-description div:nth-child(1) {
    font-size: 3vw;
    font-weight: bold;
}

.event-description div:nth-child(2) {
    margin-top: -1vw;
    font-weight: bold;
    font-size: 1.8vw;
}

.event-description div:nth-child(3) {
    margin-top: 0.5vw;
    font-size: 1vw;
}

.event-description img {
    position: absolute;
    rotate: 270deg;
    width: 6vw;
    transform: translate(-6vw, 5vw);
}


/* Страница 6 */

.way {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-60vw);
    width: 100vw;
}

.way-heading {
    display: flex;
    flex-direction: column;
}

.way-heading div {
    font-size: 2vw;
}

.way-heading img {
    transform:translate(13vw, 6vw);
    width: 15vw;
    rotate: 270deg;
}

.footer {
    display: flex;
    transform: translateY(-20vw);
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.left.footer {
    display: flex;
    flex-direction: column;
}

.footer-vehicles {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.footer-vehicles > div {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.footer-vehicles > div img {
    width: 12vw;
}

.way-description {
    width: 30vw;
    font-size: 1.2vw;
}

.contacts {
    width: 44vw;
    height: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    border: 0.2vw rgb(255, 217, 0) solid;
    outline: 0.2vw rgb(116, 107, 14 ) solid;
    outline-offset: 0.5vw;
    border-radius: 5%;
}

.left-contacts {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-size: 1.2vw;
}

.left-contacts-heading {
    transform: translateY(-0.5vw);
    font-size: 2vw;
}

.info {
    display: flex;
    align-items: center;
    width: 15vw;
}

.info img {
    width: 1.5vw;
}

.right-contacts {
    display: flex;
    flex-direction: column;
    transform: translateX(3vw);
    font-size: 2vw;
}

.networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.networks img {
    width: 2vw;
}

iframe {
    width: 43vw;
    height: 53vw;
}